.bigText{
  height: 46px;
  padding: 10px 16px;
  font-size: 38px;
  line-height: 1.33;
  border-radius: 20px;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}