.bg-success-light{
  background: #dff0d8;
}
.bg-danger-light{
  background: #f2dede;
}

.bigText{
  height: 46px;
  padding: 10px 16px;
  width: 800px;
  # font-size: 38px;
  # line-height: 1.33;
  border-radius: 20px;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}
