<!DOCTYPE html>
<html lang="en-US" ng-app="myApp" >
<head>
  <meta charset="utf-8" />
	<title>Zenbakiak</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="essentials.js"></script>
  <!-- <script src="voca1.js"></script> -->
  <script src="voca2.js"></script>
  <script src="zenbakiak.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body role="document">
  <div class="container theme-showcase" role="main">
    <div ng-controller="myCtrl" ng-init="newNb()">
      <!-- <h1>Test : {{deter1 + adj1 + name1 + verb  +" "+ deter2+ adj2 + name2 + "." | capitalize}}</h1> -->
      <h1>Nombre : <input  ng-class="check_target()==1?'bg-success-light':'bg-danger-light'" type="text" class="bigText" ng-model="target_input"   ng-keydown="validate($event)" ></h1>
      &nbsp;{{message | capitalize}}
      </br>
  	
      <button ng-click="newNb()">Nouveau</button>
      <button ng-click="newHint()">Aide Vocabulaire </button>
      <button ng-click="correctionFR()">Correction Français</button>
      <button ng-click="correctionES()">Correction Espagnol</button>
      <button ng-click="correctionEUS()">Correction Euskara</button>
      <button ng-click="solutions()">Toutes les solutions</button>

    	<p>
        FR: &nbsp;<input  ng-class="check_french()==1?'bg-success-light':'bg-danger-light'" type="text" class="bigText" ng-model="fr_input"   ng-keydown="validateFR($event)" >
        </br>
      	&nbsp;{{nombre | capitalize}}
      </p>
      <p>
        ES: &nbsp;<input  ng-class="check_spanish()==1?'bg-success-light':'bg-danger-light'" type="text" class="bigText" ng-model="es_input"   ng-keydown="validateES($event)" >
        </br>
        &nbsp;{{numero | capitalize}}
      </p>
      <p>
        EUS: <input  ng-class="check_basque()==1?'bg-success-light':'bg-danger-light'" type="text" class="bigText" ng-model="eus_input"   ng-keydown="validateEUS($event)" >
        </br>
        &nbsp;{{zenbaki | capitalize}}
      </p>



      <div>
        <label>Encore {{num_hints}} aides voca possibles...</label>

        <ul>
          <li ng-repeat="x in shownHints">
            {{ x }}
          </li>
        </ul>
      </div>

      <div>
        <p>
          Zenbakiak version {{ version_Zenbakiak }}
        </p>
      </div>
    </div>
</div>
</body>
</html>